*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# target folder
target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# directory to store build data during ci
ci

# private local data
scripts/ciBuildLocal.sh

.idea/
*.iml
.vscode